.ur-mc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 68vh;
}

.ul-mc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 55vh;
}

.ur-itx{
    width: 23vw;
    height: 3.5vh;
    padding-left: 10px;
    border-radius: 3px;
}

.ur-rb{
    width: 24vw;
    height: 4vh;
    background-color: #E74C3C;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.ur-li{
    height: 15vh;
    width: 8vw;
}

.ur-pem{
    width: 23vw;
    font-size: small;
}

.fp-mc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    margin-top: 20vh;
    
}

.ur-sgb{
    width: 24vw;
    height: 4vh;
}

@media screen and (max-width: 650px) {
    .ur-li{
        width: 50vw;
        height: 20vh;
    }

    .ur-itx{
        width: 78vw;
        height: 4.5vh;
        border-radius: 4px;
    }
    .ur-rb{
        width: 83vw;
        height: 5vh;
        font-size: large;
    }

    .ul-mc{
        margin-top: 17vh;
    }

    .ur-mc{
        margin-top: 10vh;
        height: 75vh;
    }

    .ur-sgb{
        width: 83vw;
        height: 5vh;
    }

    .ur-pem{
        width: 83vw;
    }
}