.u-margin-top{
    margin-top: 1.5rem !important;
}    

.u-margin-bottom{
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-big{
    margin-bottom: 4.5rem !important;
}

.u-margin-bottom-small{
    margin-bottom: .5rem !important;
}

.u-margin-left{
    margin-left: 1.5rem !important;
}

.u-margin-right{
    margin-right: 1.5rem !important;
}